VITE_API_BASE_URL=http://localhost:8081/api/v1
VITE_ENABLE_PASSWORD_LOGIN=false

# GCP Cloud Run Proxy Settings (Required for npm run test:e2e:cloud)
GCP_PROJECT_ID=your-project-id
GCP_REGION=your-region
GCP_SERVICE_NAME=your-service-name

# Path to gcloud binary - verify via 'which gcloud'
GCLOUD_BIN_PATH=/usr/local/lib/google-cloud-sdk/bin/gcloud
